<!DOCTYPE html>
<html lang-eng>
    <head>
      <title>harid</title>
      <meta cherset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
      <style>
        .form-wrap{
          display:flex;
          gap:10px;
          width:600px;
          margin:0 auto;
        }  
        .form-wrap input{
          flex:1;
          height:38px;
          border-radius: 5px;
        }
        .form-wrap button{
          height:38px;
          white-space:nowrap;
          border-radius: 10px;
        }
        
        
         
           
      </style>
  </head>
  <body style="background-color:#b8bbd1;">
    <h1 style="text-align: center;">Reja va Maqsadlar</h1>
        
          <form action="/creeate_item" method="post">
            <div class="form-wrap">
          <input type="text" name="item"  autofocus autocomplete="off">
          <button>Xarid Qilish</button>
          </div>
          
          </form>
          
        
  
  </body>
</html>